<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhu.demo.dao.ProductMapper">

    <cache type="com.zhu.demo.config.MybatisRedisCache"/>

    <resultMap id="BaseResultMap" type="com.zhu.demo.entity.Product">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="money" property="money"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, name, money, number, status, remark, create_by, create_date
    </sql>

    <select id="list" resultType="com.zhu.demo.entity.Product">
        SELECT * FROM product
    </select>

</mapper>